.cookie {
  height: 100px;
  width: 100px;
  display: block;
  margin: 0;
}
.cookieBtn {
  /* border: 1px solid brown; */
  /* background-color: #ffddac; */
  padding: 0;
  margin: 0;
  border-radius: 50%;
  border: none;
  width: 100px;
}
.cookieBtn:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgb(239, 164, 90);
}
h3 {
  font-size: 2rem;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.resetCtrBtn {
  background-color: #411a11;
  color: #fff;
  transition: all 0.3s ease;
}
.resetCtrBtn:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 5px #facb8a;
}
